# {{ ansible_managed }}

###########
# Options #
###########

##########
# Source #
##########

source s_pihole_file {
    file("/var/log/pihole.log");
};

############
# Template #
############


###############
# Destination #
###############
destination d_pihole_tcp { 
    network(
        "{{ pihole_syslog_receiver }}" 
        transport(tcp) 
        port({{ pihole_syslog_receiver_port }})
        ); 
};

##############
# Log Action #
##############

log {
 source(s_pihole_file);
  destination(d_pihole_tcp);
};