
# {{ ansible_managed }}

configDirectory={{ pihole_config_path }}
installDirectory={{ pihole_install_path }}
PIHOLE_INTERFACE={{ pihole_network_interface }}
IPV4_ADDRESS={{ hostvars[inventory_hostname]['ansible_' + pihole_network_interface]['ipv4']['address'] }}/24
PIHOLE_DNS_1={{ pihole_dns_servers[0] }}
PIHOLE_DNS_2={{ pihole_dns_servers[1] }}
QUERY_LOGGING=true
INSTALL_WEB=true
