upstream django {
    server wedding-app:8000; 
}


server {
    listen 80;
    server_name wedding.{{ all_ext_domain }}; 
    client_max_body_size 100M;

    location /static/ {
        alias /usr/share/nginx/html/static/;
    }

    location /media/ {
        alias /usr/share/nginx/html/media/; 
    }

    location / {
        proxy_pass http://django;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_redirect off;
    }
}