version: "3.5"

x-environment:
  &default-back-environment
  POSTGRES_DB: taiga
  POSTGRES_USER: taiga
  POSTGRES_PASSWORD: {{ docker_kanban_postgress_password }}
  POSTGRES_HOST: taiga-db
  TAIGA_SECRET_KEY: "{{ docker_kanban_secret_key }}"
  RABBITMQ_USER: taiga
  RABBITMQ_PASS: {{ docker_kanban_rabbitmq_password }}
  CELERY_ENABLED: "False"

x-volumes:
  &default-back-volumes
  - taiga-static-data:/taiga-back/static
  - taiga-media-data:/taiga-back/media

services:
  taiga-manage:
    image: taigaio/taiga-back:latest
    environment: *default-back-environment
    depends_on:
      - taiga-db
    entrypoint: "python manage.py"
    volumes: *default-back-volumes
    networks:
      - traefik_proxy
networks:
  traefik_proxy:
    external:
      name: traefik_proxy