# {{ ansible_managed }}

{% for dir in docker_compose_dirs %}
docker-compose -f {{ all_docker_builds }}/{{ dir }}/docker-compose.yml down
{% endfor %}
tar --exclude {{ all_docker_storage }}/logs -czf {{ docker_backup_dir }}/docker_frigate_volumes_`date +"%Y%m%d"`.tar.gz   {{ all_docker_storage }}
{% for dir in docker_compose_dirs %}
docker-compose -f {{ all_docker_builds }}/{{ dir }}/docker-compose.yml up -d
{% endfor %}