# {{ ansible_managed }}

services:
  frigate:
    container_name: frigate
    privileged: true
    restart: unless-stopped
    image: ghcr.io/blakeblackshear/frigate:0.17.1
    shm_size: "512mb"
    networks:
      - default
    devices:
      - /dev/bus/usb:/dev/bus/usb
      - /dev/dri/renderD128
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ docker_frigate_docker_storage }}/frigate_config:/config
      - /mnt/video/:/media/frigate
      - type: tmpfs
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    ports:
      - "8554:8554" # RTSP feeds
      - "5000:5000" # UI HTTP
      - "8971:8971" # UI HTTPS
      - "1984:1984" # API
      - "8555:8555/tcp" # WebRTC over tcp
      - "8555:8555/udp" # WebRTC over udp
    environment:
      - FRIGATE_RTSP_PASSWORD=password
      - PLUS_API_KEY={{vault_frigate_plus_api_key}}
networks:
  default:
    driver: bridge
