# {{ ansible_managed }}

version: "3.6"
services:
  frigate:
    container_name: frigate
    privileged: true 
    restart: unless-stopped
    image: ghcr.io/blakeblackshear/frigate:0.14.0
    shm_size: "128mb" # update for your cameras based on calculation above
    networks:
      - default
    devices:
      - /dev/bus/usb:/dev/bus/usb
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ docker_frigate_docker_storage }}/frigate_config:/config
      - /mnt/video/:/media/frigate
      - type: tmpfs
        target: /tmp/cache
        tmpfs:
          size: 1000000000
    ports:
      - "8554:8554" # RTSP feeds
      - "5000:5000" 
      - "1984:1984" # API
      - "8555:8555/tcp" # WebRTC over tcp
      - "8555:8555/udp" # WebRTC over udp
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frigate-secure.entrypoints=web-secure"
      - "traefik.http.routers.frigate-secure.rule=Host(`frigate.{{ all_ext_domain }}`)"
      - "traefik.http.routers.frigate-secure.tls=true"
      - "traefik.http.routers.frigate-secure.tls.certresolver=route53"
      - "traefik.http.routers.frigate-secure.tls.domains[0].main={{ all_ext_domain }}"
      - "traefik.http.routers.frigate-secure.tls.domains[0].sans=*.{{ all_ext_domain }}"
      - "traefik.http.services.frigate-secure.loadbalancer.server.port=8971"
    environment:
      - FRIGATE_RTSP_PASSWORD=password
      - PLUS_API_KEY={{vault_frigate_plus_api_key}}
networks:
  default:
    driver: bridge
