# {{ ansible_managed }}

version: "3.6"
services:
  app:
    image: slechev/openwebrxplus
    networks:
      - traefik_proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.openwebrx-secure.entrypoints=web-secure"
      - "traefik.http.routers.openwebrx-secure.rule=Host(`openwebrx.{{ all_ext_domain }}`)"
      - "traefik.http.routers.openwebrx-secure.tls=true"
      - "traefik.http.routers.openwebrx-secure.tls.certresolver=route53"
      - "traefik.http.routers.openwebrx-secure.tls.domains[0].main={{ all_ext_domain }}"
      - "traefik.http.routers.openwebrx-secure.tls.domains[0].sans=*.{{ all_ext_domain }}"
      - "traefik.http.services.openwebrx-secure.loadbalancer.server.port=8073"
    volumes:
      - {{ docker_openwebrx_docker_storage }}/openwebrx-settings:/var/lib/openwebrx
      - {{ docker_openwebrx_docker_storage }}/openwebrx-etc:/etc/openwebrx
networks:
  traefik_proxy:
    external:
      name: traefik_proxy
  default:
    driver: bridge
