#!/bin/bash
# {{ ansible_managed }}
redis-cli -s /var/run/redis/redis-server.sock <<EOF
FLUSHALL
quit
EOF
sudo -u www-data php {{ nextcloud_install_path }}/occ files:scan --all
sudo -u www-data php {{ nextcloud_install_path }}/occ files:scan-app-data
exit 0