# {{ ansible_managed }}


services:
  garage1:
    image: dxflrs/garage:v2.1.0
    hostname: garage1
    networks:
      - traefik_proxy
    restart: unless-stopped
    volumes:
      - {{ docker_garage_docker_storage }}/garage_config/garage.toml:/etc/garage.toml
      - {{ docker_garage_docker_storage }}/garage_data:/var/lib/garage/data
      - {{ docker_garage_docker_storage }}/garage_meta:/var/lib/garage/meta
    ports:
      - "3901:3901"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik_proxy"
      - "traefik.http.services.garage-secure.loadbalancer.server.port=3900"
      - "traefik.http.routers.garage-secure.service=garage-secure"
      - "traefik.http.routers.garage-secure.entrypoints=web-secure"
      - "traefik.http.routers.garage-secure.rule=Host(`garage.{{ all_ext_domain }}`)"
      - "traefik.http.routers.garage-secure.tls=true"
      - "traefik.http.routers.garage-secure.tls.certresolver=route53"
      - "traefik.http.routers.garage-secure.tls.domains[0].main={{ all_ext_domain }}"
      - "traefik.http.routers.garage-secure.tls.domains[0].sans=*.{{ all_ext_domain }}"
      - "traefik.http.routers.garage-admin-secure.rule=Host(`garage-admin.{{ all_ext_domain }}`)"
      - "traefik.http.routers.garage-admin-secure.entrypoints=web-secure"
      - "traefik.http.routers.garage-admin-secure.tls=true"
      - "traefik.http.routers.garage-admin-secure.tls.certresolver=route53"
      - "traefik.http.routers.garage-admin-secure.tls.domains[0].main={{ all_ext_domain }}"
      - "traefik.http.routers.garage-admin-secure.tls.domains[0].sans=*.{{ all_ext_domain }}"
      - "traefik.http.services.garage-admin-secure.loadbalancer.server.port=3903"
      - "traefik.http.routers.garage-admin-secure.service=garage-admin-secure"
      
      
      - "traefik.http.routers.garage-static-secure.rule=Host(`garage-static.{{ all_ext_domain }}`)"
      - "traefik.http.routers.garage-static-secure.entrypoints=web-secure"
      - "traefik.http.routers.garage-static-secure.tls=true"
      - "traefik.http.routers.garage-static-secure.tls.certresolver=route53"
      - "traefik.http.routers.garage-static-secure.tls.domains[0].main={{ all_ext_domain }}"
      - "traefik.http.routers.garage-static-secure.tls.domains[0].sans=*.{{ all_ext_domain }}"
      - "traefik.http.services.garage-static-secure.loadbalancer.server.port=3902"
      - "traefik.http.routers.garage-static-secure.service=garage-static-secure"
networks:
  traefik_proxy:
    external:
      name: traefik_proxy
  default:
    driver: bridge
