#!ipxe
:start
isset ${arch} && goto skip_arch_detect ||
cpuid --ext 29 && set arch x86_64 || set arch i386
:skip_arch_detect
# Basic system setup
isset ${ip} || dhcp
isset ${cls} && clear ||
# Set Windows architecture
set win_arch x64
:main_menu
clear menu
set space:hex 20:20
set space ${space:string}
menu netboot.xyz
# Boot menu moved to the top and set as default
item --gap Boot:
item local ${space} Boot from local HDD
item --gap Windows:
item windows ${space} Windows 11 Install
item --gap Tools:
item shell ${space} iPXE Shell
item netinfo ${space} Network card info
iseq ${platform} efi && item utils ${space} Utilities (UEFI) ||
# Set default option to local boot with 60 second timeout
choose --default local --timeout 15000 menu || goto local
echo ${cls}
goto ${menu}
:local
# Fix for local boot
echo Booting from local disks ...
# Add sanboot command to actually boot from local disk
sanboot --no-describe --drive 0x80 ||
# If sanboot fails, try exit to chain to next boot option
exit 1
:shell
echo Type "exit" to return to menu.
shell
goto main_menu
:netinfo
# Fix for network info - simplified but functional approach
echo Network Information:
echo IP: ${ip}
echo Netmask: ${netmask}
echo Gateway: ${gateway}
echo DNS: ${dns}
echo MAC: ${mac}
prompt Press any key to return to menu...
goto main_menu
:utils
# Embedded utilities menu with just the needed options
:utils_menu
menu Utilities
item --gap Utilities:
item memtest86plus ${space} Memtest86+ 7.20
item gparted ${space} GParted Live
item systemrescue ${space} System Rescue CD
item back ${space} Back to main menu
choose --default back utils_item || goto main_menu
echo ${cls}
goto ${utils_item}

:memtest86plus
imgfree
kernel ${live_endpoint}/asset-mirror/releases/download/7.20-014832f7/memtest64.efi || kernel https://boot.netboot.xyz/asset-mirror/releases/download/7.20-014832f7/memtest64.efi
boot
goto utils_menu

:gparted
imgfree
set squash_url ${live_endpoint}/debian-squash/releases/download/1.6.0-10-cff72999/filesystem.squashfs || set squash_url https://boot.netboot.xyz/debian-squash/releases/download/1.6.0-10-cff72999/filesystem.squashfs
set kernel_url ${live_endpoint}/debian-squash/releases/download/1.6.0-10-cff72999/ || set kernel_url https://boot.netboot.xyz/debian-squash/releases/download/1.6.0-10-cff72999/
kernel ${kernel_url}vmlinuz boot=live fetch=${squash_url} union=overlay username=user vga=788 initrd=initrd.magic ${cmdline}
initrd ${kernel_url}initrd
boot
goto utils_menu

:systemrescue
imgfree
set url ${live_endpoint}/asset-mirror/releases/download/11.03-e17908dd/ || set url https://boot.netboot.xyz/asset-mirror/releases/download/11.03-e17908dd/
set ipparam BOOTIF=${netX/mac} ip=dhcp net.ifnames=0
kernel ${url}vmlinuz archisobasedir=sysresccd ${ipparam} archiso_http_srv=${url} initrd=initrd.magic ${cmdline}
initrd ${url}initrd
boot
goto utils_menu

:back
goto main_menu
:windows
isset ${win_base_url} && goto win_install || goto url_set
:url_set
echo Set the HTTP URL of an extracted Windows ISO without the trailing slash:
echo e.g. http://www.mydomain.com/windows
echo
echo -n URL: ${} && read win_base_url
echo
echo netboot.xyz will attempt to load the following files:
echo ${win_base_url}/${win_arch}/bootmgr
echo ${win_base_url}/${win_arch}/bootmgr.efi
echo ${win_base_url}/${win_arch}/boot/bcd
echo ${win_base_url}/${win_arch}/boot/boot.sdi
echo ${win_base_url}/${win_arch}/sources/boot.wim
echo
prompt Press any key to continue...
goto windows
:win_install
imgfree
kernel http://192.168.20.4:8080/wimboot
initrd -n bootmgr     ${win_base_url}/${win_arch}/bootmgr       bootmgr ||
initrd -n bootmgr.efi ${win_base_url}/${win_arch}/bootmgr.efi   bootmgr.efi ||
initrd -n bcd         ${win_base_url}/${win_arch}/boot/bcd      bcd ||
initrd -n bcd         ${win_base_url}/${win_arch}/Boot/BCD      bcd ||
initrd -n boot.sdi    ${win_base_url}/${win_arch}/boot/boot.sdi boot.sdi ||
initrd -n boot.sdi    ${win_base_url}/${win_arch}/Boot/boot.sdi boot.sdi ||
initrd -n boot.wim    ${win_base_url}/${win_arch}/sources/boot.wim boot.wim
boot
:error
echo Error occurred, press any key to return to menu ...
prompt
goto main_menu