# {{ ansible_managed }}
# backup script for jellyfin

# stop services
/etc/init.d/jellyfin stop


src="{{ jellyfin_data_dir }} {{ jellyfin_config_dir }}" 
dest="{{ jellyfin_backup_dir }}"
day=$(date +%Y%m%d)

/bin/tar -czf "$dest/jellyfin-$day.tar.gz" $src

# start services
/etc/init.d/jellyfin start