---
# {{ ansible_managed }}
http:
  middlewares:
    authentik:
      forwardAuth:
        address: "http://authentik_server:9000/outpost.goauthentik.io/auth/traefik"
        trustForwardHeader: true
        authResponseHeaders:
          - X-Authentik-Username
          - X-Authentik-Groups
          - X-Authentik-Email
          - X-Authentik-Name
          - X-Authentik-Uid
          - X-Authentik-Jwt
          - X-Authentik-Meta-Jwks
          - X-Authentik-Meta-Outpost
          - X-Authentik-Meta-Provider
          - X-Authentik-Meta-App
          - X-Authentik-Meta-Version
  routers:
    cctv-https:
      rule: "Host(`cctv.{{ all_ext_domain }}`)"
      entryPoints:
        - web-secure
      middlewares:
        - authentik
      service: cctv-service

      tls:
        certresolver: route53
        domains:
          - main: "{{ all_ext_domain }}"
            sans:
              - "*.{{ all_ext_domain }}"
    media-https:
      rule: "Host(`media.{{ all_ext_domain }}`)"
      entryPoints:
        - web-secure
      service: media-service
      tls:
        certresolver: route53
        domains:
          - main: "{{ all_ext_domain }}"
            sans:
              - "*.{{ all_ext_domain }}"
    hass-https:
      rule: "Host(`hass.{{ all_ext_domain }}`)"
      entryPoints:
        - web-secure
      service: hass-service
      tls:
        certresolver: route53
        domains:
          - main: "{{ all_ext_domain }}"
            sans:
              - "*.{{ all_ext_domain }}"
    overseerr-https:
      rule: "Host(`requests.{{ all_ext_domain }}`)"
      entryPoints:
        - web-secure
      service: overseerr-service
      tls:
        certresolver: route53
        domains:
          - main: "{{ all_ext_domain }}"
            sans:
              - "*.{{ all_ext_domain }}"
    nc-https:
      rule: "Host(`nc.{{ all_ext_domain }}`)"
      entryPoints:
        - web-secure
      service: nc-service
      tls:
        certresolver: route53
        domains:
          - main: "{{ all_ext_domain }}"
            sans:
              - "*.{{ all_ext_domain }}"
    photoprisim-https:
      rule: "Host(`photos.{{ all_ext_domain }}`)"
      entryPoints:
        - web-secure
      service: photoprisim-service
      tls:
        certresolver: route53
        domains:
          - main: "{{ all_ext_domain }}"
            sans:
              - "*.{{ all_ext_domain }}"
    paperless-https:
      rule: "Host(`paperless.{{ all_ext_domain }}`)"
      entryPoints:
        - web-secure
      service: paperless-service
      tls:
        certresolver: route53
        domains:
          - main: "{{ all_ext_domain }}"
            sans:
              - "*.{{ all_ext_domain }}"
    wedding-https:
      rule: "Host(`wedding.{{ all_ext_domain }}`)"
      entryPoints:
        - web-secure
      service: wedding-service
      tls:
        certresolver: route53
        domains:
          - main: "{{ all_ext_domain }}"
            sans:
              - "*.{{ all_ext_domain }}"
    plants-https:
      rule: "Host(`plants.{{ all_ext_domain }}`)"
      entryPoints:
        - web-secure
      service: plants-service
      tls:
        certresolver: route53
        domains:
          - main: "{{ all_ext_domain }}"
            sans:
              - "*.{{ all_ext_domain }}"
    hortusfox-https:
      rule: "Host(`plant.{{ all_ext_domain }}`)"
      entryPoints:
        - web-secure
      service: hortusfox-service
      tls:
        certresolver: route53
        domains:
          - main: "{{ all_ext_domain }}"
            sans:
              - "*.{{ all_ext_domain }}"
  services:
    media-service:
      loadBalancer:
        servers:
          - url: http://10.168.1.15:32400/web
    hass-service:
      loadBalancer:
        servers:
          - url: http://10.168.1.14:8123
    overseerr-service:
      loadBalancer:
        serversTransport: mytransport
        servers:
          - url: http://10.168.1.31:5055
    cctv-service:
      loadBalancer:
        serversTransport: mytransport
        servers:
          - url: https://10.168.1.206:8971
    nc-service:
      loadBalancer:
        serversTransport: mytransport
        servers:
          - url: http://10.168.1.7:8000
    photoprisim-service:
      loadBalancer:
        serversTransport: mytransport
        servers:
          - url: http://10.168.1.7:8001
    paperless-service:
      loadBalancer:
        serversTransport: mytransport
        servers:
          - url: http://10.168.1.7:8002
    wedding-service:
      loadBalancer:
        serversTransport: mytransport
        servers:
          - url: http://10.168.1.7:8003
    plants-service:
      loadBalancer:
        serversTransport: mytransport
        servers:
          - url: http://10.168.1.7:8004
    hortusfox-service:
      loadBalancer:
        serversTransport: mytransport
        servers:
          - url: http://10.168.1.7:8005
  serversTransports:
    mytransport:
      insecureSkipVerify: true
