---
# {{ ansible_managed }}

serversTransport:
  insecureSkipVerify: true
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: web-secure
          scheme: https
  web-secure:
    address: ":443"
certificatesResolvers:
  route53:
    acme:
      email: admin@ianday.me
      storage: /etc/traefik/acme.json
      dnsChallenge:
        provider: route53
        disablePropagationCheck: true
        delayBeforeCheck: 10
        resolvers:
          - 1.1.1.1
          - 8.8.8.8
log:
  level: INFO
  filePath: "/logs/traefik.log"
accessLog:
  filePath: "/logs/access.log"
api:
  dashboard: true
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
    filename: /etc/traefik/routes.yml
    watch: true