# {{ ansible_managed }}
services:
  nc-db:
    image: postgres:16-alpine
    restart: always
    hostname: nc-db
    networks:
      - traefik_proxy
    volumes:
      - {{ docker_nextcloud_docker_storage }}/nextcloud_d_db:/var/lib/postgresql/data:Z
    environment:
      - POSTGRES_PASSWORD={{ vault_nextcloud_mysql_password }}
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
  nc-redis:
    image: redis:alpine
    restart: always
    hostname: nc-redis
    networks:
      - traefik_proxy
    security_opt:
      - no-new-privileges:true
    volumes:
      - {{ docker_nextcloud_docker_storage }}/nextcloud_d_redis:/data
    environment:
      - REDIS_ARGS=--save 60 10
  nc-cron:
    image: nextcloud:30.0-fpm
    restart: always
    hostname: nc-cron
    networks:
      - traefik_proxy
    volumes:
      - {{ docker_nextcloud_docker_storage }}/nextcloud_d_data:/var/www/html:z
      - {{ docker_nextcloud_docker_storage }}/nextcloud_d_config/php.ini:/usr/local/etc/php/conf.d/zzz-custom.ini
    entrypoint: /cron.sh
    environment:
      - PHP_MEMORY_LIMIT=1024M
    depends_on:
      - nc-db
      - nc-redis
  nc-web:
    build:
      context: .
      dockerfile: Dockerfile-web
    restart: always
    hostname: nc-web
    networks:
      - traefik_proxy
    volumes:
      - {{ docker_nextcloud_docker_storage }}/nextcloud_d_data:/var/www/html:z,ro
    ports:
      - "8000:80"
    depends_on:
      - nc-app
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik_proxy"
      - "traefik.http.middlewares.nc-rep.redirectregex.regex=https://(.*)/.well-known/(card|cal)dav"
      - "traefik.http.middlewares.nc-rep.redirectregex.replacement=https://$$1/remote.php/dav/"
      - "traefik.http.middlewares.nc-rep.redirectregex.permanent=true"
      - "traefik.http.middlewares.nc-header.headers.referrerPolicy=no-referrer"
      - "traefik.http.middlewares.nc-header.headers.stsSeconds=31536000"
      - "traefik.http.middlewares.nc-header.headers.forceSTSHeader=true"
      - "traefik.http.middlewares.nc-header.headers.stsPreload=true"
      - "traefik.http.middlewares.nc-header.headers.stsIncludeSubdomains=true"
      - "traefik.http.middlewares.nc-header.headers.browserXssFilter=true"
      - "traefik.http.middlewares.nc-header.headers.customRequestHeaders.X-Forwarded-Proto=https"
      - "traefik.http.routers.nextcloud-secure.middlewares=nc-rep,nc-header"
      - "traefik.http.routers.nextcloud-secure.entrypoints=web-secure"
      - "traefik.http.routers.nextcloud-secure.rule=Host(`nc.{{ all_ext_domain }}`)"
      - "traefik.http.routers.nextcloud-secure.tls=true"
      - "traefik.http.routers.nextcloud-secure.tls.certresolver=route53"
      - "traefik.http.routers.nextcloud-secure.tls.domains[0].main={{ all_ext_domain }}"
      - "traefik.http.routers.nextcloud-secure.tls.domains[0].sans=*.{{ all_ext_domain }}"
      - "traefik.http.services.nextcloud-secure.loadbalancer.server.port=80" 
  nc-app:
    build:
      context: .
      dockerfile: Dockerfile-app
    restart: always
    hostname: nc_app
    volumes:
      - {{ docker_nextcloud_docker_storage }}/nextcloud_d_data:/var/www/html:z
      - {{ docker_nextcloud_docker_storage }}/nextcloud_d_config/php.ini:/usr/local/etc/php/conf.d/zzz-custom.ini
    environment:
      - POSTGRES_HOST=nc-db
      - REDIS_HOST=nc-redis
      - POSTGRES_PASSWORD={{ vault_nextcloud_mysql_password }}
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - PHP_MEMORY_LIMIT=1024M
    networks:
      - traefik_proxy
    depends_on:
      - nc-db
      - nc-redis
networks:
  traefik_proxy:
      name: traefik_proxy
      external: true
  default:
    driver: bridge
