# {{ ansible_managed }}

version: "3.6"
services:
  seafile-mysql:
    image: mariadb:10.5
    container_name: seafile-mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ docker_seafile_mysql_root_pw }}
      - MYSQL_LOG_CONSOLE=true
    volumes:
      - {{ docker_seafile_docker_storage }}/seafile_db:/var/lib/mysql
    networks:
      - seafile-net
  seafile-memcached:
    image: memcached:1.6
    container_name: seafile-memcached
    entrypoint: memcached -m 256
    networks:
      - seafile-net
  seafile:
    image: seafileltd/seafile-mc:latest
    container_name: seafile
    ports:
      - "80:80"
      - "443:443"  
    volumes:
      - {{ docker_seafile_docker_storage }}/seafile_data:/shared 
    environment:
      - DB_HOST=seafile-mysql
      - DB_ROOT_PASSWD={{ docker_seafile_mysql_root_pw }}
      - TIME_ZONE=America/New_York  
      - SEAFILE_ADMIN_EMAIL={{ docker_seafile_admin_username }}
      - SEAFILE_ADMIN_PASSWORD={{ docker_seafile_admin_password }}
      - SEAFILE_SERVER_HOSTNAME=files.{{ all_ext_domain }}
    depends_on:
      - seafile-mysql
      - seafile-memcached
    networks:
      - seafile-net
networks:
  seafile-net:
