# {{ ansible_managed }}

services:
  gluetun:
    container_name: gluetun
    image: qmcgaw/gluetun
    cap_add:
      - net_admin
    devices:
      - /dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=vpnsecure
      - OPENVPN_KEY_PASSPHRASE={{ vault_docker_media_openvpn_passwd }}
      - SERVER_COUNTIRES="United States"
      - HTTPPROXY=ON
      - FIREWALL_OUTBOUND_SUBNETS="10.168.1.0/24"
    networks:
      - default
    ports:
      - 6881:6881 #qBittorrent
      - 6881:6881/udp #qBittorrent
      - 8080:8080 #qBittorrent UI
      - 8888:8888/tcp #LAN Proxy
    read_only: false
    tmpfs:
      - /run
      - /tmp
    restart: unless-stopped
    security_opt:
      - label:disable
    stdin_open: true
    tty: true
    volumes:
      - {{ docker_media_docker_storage }}/openvpn:/gluetun
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent
    container_name: qbittorrent
    environment:
      - PUID={{ docker_uid }}
      - PGID={{ docker_gid }}
      - TZ='EST5EDT'
    volumes:
      - {{ docker_media_docker_storage }}/qbittorrent:/config
      - {{ docker_media_staging_path }}:/downloads
    network_mode: "service:gluetun"
    restart: unless-stopped
    labels: 
      - autoheal=true
    healthcheck:
      test: curl -fSs https://google.com || exit 1
      start_period: 15s
      timeout: 10s
      interval: 5s
      retries: 3
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    networks:
      - default
    environment:
      - PUID={{ docker_uid }}
      - PGID={{ docker_gid }}
      - TZ='EST5EDT'
    volumes:
      - {{ docker_media_docker_storage }}/sabnzbd:/config
      - {{ docker_media_staging_path }}:/downloads
    ports:
      - 8081:8081
    restart: unless-stopped
    labels: 
      - autoheal=true
    healthcheck:
      test: curl -fSs https://google.com || exit 1
      start_period: 15s
      timeout: 10s
      interval: 5s
      retries: 3
  prowlarr: #index aggregator
    container_name: prowlarr
    image: linuxserver/prowlarr:nightly
    networks:
      - default
    environment:
      - PUID={{ docker_uid }}
      - PGID={{ docker_gid }}
      - TZ='EST5EDT'
    volumes:
      - {{ docker_media_docker_storage }}/prowlarr:/config
    ports:
      - 9696:9696 
    labels: 
      - autoheal=true
    healthcheck:
      test: curl -fSs http://127.0.0.1:9696 > /dev/null || exit 1
      start_period: 20s
      timeout: 5s
      interval: 5s
      retries: 3    
    restart: unless-stopped
    depends_on:
      qbittorrent:
        condition: service_healthy
  sonarr:
      container_name: sonarr
      image: linuxserver/sonarr:latest
      restart: 'unless-stopped'
      environment:
        - PUID={{ docker_uid }}
        - PGID={{ docker_gid }}
        - TZ='EST5EDT'
      volumes:
        - {{ docker_media_docker_storage }}/sonarr:/config
        - {{ docker_media_media_path }}:/media
        - {{ docker_media_staging_path }}:/downloads
      labels: 
        - autoheal=true
      healthcheck:
        test: curl -fSs http://127.0.0.1:8989 || exit 1
        start_period: 20s
        timeout: 5s
        interval: 5s
        retries: 3
      ports:
        - 8989:8989
      entrypoint:
        - /init
      depends_on:
        qbittorrent:
          condition: service_healthy
  radarr:
    container_name: radarr
    image: linuxserver/radarr:nightly
    restart: unless-stopped
    environment:
      - PUID={{ docker_uid }}
      - PGID={{ docker_gid }}
      - TZ='EST5EDT'
    volumes:
      - {{ docker_media_docker_storage }}/radarr:/config
      - {{ docker_media_media_path }}:/media
      - {{ docker_media_staging_path }}:/downloads
    ports:
      - 7878:7878
    labels: 
      - autoheal=true
    healthcheck:
      test: curl -fSs http://127.0.0.1:7878 > /dev/null || exit 1
      start_period: 20s
      timeout: 5s
      interval: 5s
      retries: 3
    entrypoint:
      - /init
    depends_on:
      qbittorrent:
        condition: service_healthy
  lidarr:
    container_name: lidarr
    image: linuxserver/lidarr:nightly
    environment:
      - PUID={{ docker_uid }}
      - PGID={{ docker_gid }}
      - TZ='EST5EDT'
    volumes:
      - {{ docker_media_docker_storage }}/lidarr:/config
      - {{ docker_media_media_path }}:/media
      - {{ docker_media_staging_path }}:/downloads
    ports:
      - 8686:8686
    restart: unless-stopped
    labels: 
      - autoheal=true
    healthcheck:
      test: curl -fSs http://127.0.0.1:8686 > /dev/null || exit 1
      start_period: 20s
      timeout: 5s
      interval: 5s
      retries: 3
    depends_on:
      qbittorrent:
        condition: service_healthy
  overseerr:
    image: sctx/overseerr:latest
    container_name: overseerr
    environment:
      - LOG_LEVEL=info
      - TZ='EST5EDT'
    ports:
      - 5055:5055
    volumes:
      - {{ docker_media_docker_storage }}/overseerr:/app/config
    restart: unless-stopped
  readarr:
    container_name: readarr
    image: hotio/readarr:nightly    
    ports:
      - 8787:8787
    environment:
      - PUID={{ docker_uid }}
      - PGID={{ docker_gid }}
      - TZ='EST5EDT'
    volumes:
      - {{ docker_media_docker_storage }}/readarr:/config
      - {{ docker_media_media_path }}:/media
      - {{ docker_media_staging_path }}:/downloads
    restart: unless-stopped
    labels: 
      - autoheal=true
    healthcheck:
      test: curl -fSs http://127.0.0.1:8787 > /dev/null || exit 1
      start_period: 20s
      interval: 5s
      timeout: 5s
      retries: 3
    depends_on:
      qbittorrent:
        condition: service_healthy


networks:
  default:
