# {{ ansible_managed }}

services:
  photoprism:
    image: photoprism/photoprism:latest
    depends_on:
      - mariadb
    restart: unless-stopped
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    ports:
      - "8001:2342"
    environment:
      - PHOTOPRISM_ADMIN_PASSWORD={{ docker_photos_admin_password }}
      - PHOTOPRISM_SITE_URL=https://photos.{{ all_ext_domain }}
      - PHOTOPRISM_ORIGINALS_LIMIT=5000
      - PHOTOPRISM_HTTP_COMPRESSION=gzip
      - PHOTOPRISM_PUBLIC=false
      - PHOTOPRISM_READONLY=false
      - PHOTOPRISM_DATABASE_SERVER=mariadb:3306
      - PHOTOPRISM_DATABASE_NAME=photoprism
      - PHOTOPRISM_DATABASE_USER=photoprism
      - PHOTOPRISM_DATABASE_PASSWORD={{ docker_photos_sql_user_password }} 
      - PHOTOPRISM_SITE_TITLE=PhotoPrism
      - PHOTOPRISM_SITE_CAPTION=Browse Your Life
      - PHOTOPRISM_SITE_AUTHOR=Ian Day
      - PHOTOPRISM_UID={{ docker_uid }}
      - PHOTOPRISM_GID={{ docker_gid }}
      - HOME=/photoprism
    working_dir: "/photoprism"
    volumes:
      - {{ docker_photos_originals_path }}:/photoprism/originals
      - {{ docker_photos_docker_storage }}/photoprisim:/photoprism/storage
    networks:
      - traefik_proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.photos-secure.entrypoints=web-secure"
      - "traefik.http.routers.photos-secure.rule=Host(`photos.{{ all_ext_domain }}`)"
      - "traefik.http.routers.photos-secure.tls=true"
      - "traefik.http.routers.photos-secure.tls.certresolver=route53"
      - "traefik.http.routers.photos-secure.tls.domains[0].main={{ all_ext_domain }}"
      - "traefik.http.routers.photos-secure.tls.domains[0].sans=*.{{ all_ext_domain }}"
      - "traefik.http.services.photos-secure.loadbalancer.server.port=2342"
  mariadb:
    restart: unless-stopped
    image: mariadb:10.6
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    command: mysqld --innodb-buffer-pool-size=128M --transaction-isolation=READ-COMMITTED --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --max-connections=512 --innodb-rollback-on-timeout=OFF --innodb-lock-wait-timeout=120
    volumes:
      - {{ docker_photos_docker_storage }}/photoprisim_db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ docker_photos_sql_root_password }} 
      - MYSQL_DATABASE=photoprism
      - MYSQL_USER=photoprism
      - MYSQL_PASSWORD={{ docker_photos_sql_user_password }}
    labels:
      - "traefik.enable=false"
networks:
  traefik_proxy:
      name: traefik_proxy
      external: true
  default:
    driver: bridge
